.comment-content img {
    max-width: 500px;
    max-height: 500px;
}

.comment-content {
    min-height: 32px;
}

#forum-thread {
    border: 2px solid #555555
}

#forum-thread td {
    border: 1px solid #555555
}

#forum-thread .user-datails {
    width: 120px;
    min-width: 120px;
}

#threads-header {
    margin-top: 0;
}