.comment-content img {
    max-width: 500px;
    max-height: 500px;
}

.comment-content {
    min-height: 32px;
}

#forum-thread {
    border: 2px solid #555555
}

#forum-thread td {
    border: 1px solid #555555
}

.user-details {
    width: 120px;
    min-width: 120px;
    text-align: center;
}

.user-details .forum-name {
    font-size: 16px;
    font-weight: 600;
}

#threads-header {
    margin-top: 0;
}
