html {
    word-wrap: break-word;
}

.forum-container {
    margin-bottom: 20px;
}

.thread-container {
    background-color: #f5f5f5;
    margin-bottom: 16px;
    padding: 1px 0;
}

.thread-container .row {
    background-color: white;
    margin: 16px;
}

.thread-container .user-details {
    text-align: center;
    padding: 12px;
}

.thread-container .user-details .forum-name {
    font-size: 16px;
    font-weight: 600;
}

.thread-container .user-details p {
    margin-bottom: 6px;
}

.thread-container .user-details .user-location {
    margin-bottom: 2px;
}

.thread-container .comment-content {
    padding: 12px;
}

.thread-container .comment-content hr {
    margin-top: 12px;
    margin-bottom: 12px;
}

.thread-container .comment-content img {
    max-width: 890px;
    max-height: 890px;
}

.thread-reply-button {
    text-align: right;
}

.submit {
    text-align: right;
}

.voting {
    margin: 24px 24px 0 24px;

}

.voting table {
    width: 100%
}

.voting .vote-results {
    width: 100%
}

.voting .btn {
    margin-left: 24px;
    margin-bottom: 15px;
}

/* BS large */
@media screen and (max-width: 1200px){
    .thread-container .comment-content img {
        max-width: 650px;
        max-height: 650px;
    }
}

/* BS medium */
@media screen and (max-width: 992px){
    .thread-container .comment-content img {
        max-width: 486px;
        max-height: 486px;
    }
}

/* BS small */
@media screen and (max-width: 768px){
    .thread-container {
        background-color: #dddddd;
    }

    .thread-container .row {
        background-color: white;
        margin: 6px 0;
    }

    .thread-container .user-details {
        text-align: left;
        margin-bottom: 20px;
    }

    .thread-container .forum-name {
        position: absolute;
        top: 8px;
        left: 56px;
    }

    .thread-container .user-location {
        position: absolute;
        top: 28px;
        left: 56px;
        font-size: 12px
    }

    .thread-container .user-post-count {
        position: absolute;
        top: 45px;
        left: 56px;
        font-size: 12px
    }

    .thread-container .user-details img {
        height: 48px;
        width: 48px;
        position: absolute;
        top: 12px;
        left: 0;
    }

    .thread-container .comment-content {
        padding: 20px 0 16px 0;
    }

    .thread-container .comment-content img {
        max-width: 440px;
        max-height: 440px;
    }
}

/* Extra Small Devices, Phones */
@media screen and (max-width : 480px) {
    .thread-container .comment-content img {
        max-width: 320px;
        max-height: 320px;
    }
}


@media screen and (max-width : 360px) {
    .thread-container .comment-content img {
        max-width: 280px;
        max-height: 280px;
    }
}

/* Custom, iPhone Retina */
@media screen and (max-width : 320px) {
    .thread-container .comment-content img {
        max-width: 250px;
        max-height: 250px;
    }
}