{% extends "forum/forum_base.html" %}
{% load thread_extras %}
{% block forum_content %}
    <h1>Forums</h1>
    {% load bootstrap_tags %}
    <table class="table table-striped table-hover">
        <tr>
            <th>Forum</th>
            <th>Description</th>
            <th>Topics</th>
            <th>Posts</th>
        </tr>
        {% for subject in subjects %}
            <tr>
                <td><a href="{% url 'threads' subject.id %}">{{ subject.name }}</a></td>
                <td>{{ subject.description }}</td>
                <td>{{ subject.threads.count }}</td>
                <td>{{ subject|get_total_subject_posts }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}