{% extends "forum/forum_base.html" %}
{% load bootstrap_tags %}
{% load staticfiles %}

{% block head_js %}
    <script src="{% static 'lib/tinymce/tinymce.min.js' %}"></script>
    <script src="{% static 'js/tinyMCE_init.js' %}"></script>
{% endblock %}

{% block forum_content %}
    <section>
        <div class="col-lg-10 col-lg-offset-1">
            <form method="post" action="{{ form_action }}">
                {% csrf_token %}
                {{ form|as_bootstrap }}
                <div class="form-group submit">
                    <button type="submit" class="btn btn-info">{{ button_text }}</button>
                </div>
            </form>
        </div>
    </section>

{% endblock %}