{% load staticfiles %}
{% load emoticons_tags %}

    <td class="user-datails">
        <p><img src="{% static 'images/user.png' %}"/></p>
        <p><strong>{{ post.user.public_name }}</strong></p>
        <p>{{ post.user.posts.count }} posts</p>
    </td>

    <td>
        <div class="comment-content">
            {% autoescape off %}
                {{ post.comment|emoticons }}
            {% endautoescape %}
        </div>
        <hr>
        <div class="comment-details">
            {% include "forum/comment_details.html" %}
        </div>
    </td>
