{% load staticfiles %}
{% load emoticons_tags %}

    <td class="user-details">
        <p class="forum-name">{{ post.user.public_name }}</p>
        <p>
            {% if post.user.image %}
                <img src="{% static 'images/user.png' %}" alt="{{ post.user.public_name }}" width="96" height="96"/>
            {% else %}
                <img src="{% static 'img/user_placeholder.png' %}" alt="User placeholder" width="96" height="96"/>
            {% endif %}
        </p>
        <p class="text-muted">{{ post.user.posts.count }} posts</p>
    </td>

    <td>
        <div class="comment-content">
            {% autoescape off %}
                {{ post.comment|emoticons }}
            {% endautoescape %}
        </div>
        <hr>
        <div class="comment-details">
            {% include "forum/comment_details.html" %}
        </div>
    </td>
