{% extends "forum/forum_base.html" %}
{% load thread_extras %}
{% load staticfiles %}
{% block forum_content %}

    <h2>{{ thread.name }}</h2>

    <ol class="breadcrumb">
        <li><a href="{% url 'forum_forums' %}">Forums</a></li>
        <li><a href="{% url 'forum_threads' thread_subject.id %}">{{ thread_subject.name }}</a></li>
        <li class="active">{{ thread.name }}</li>
     </ol>

    <table class="table">
        <tbody>
        <tr>
            <th>CREATED</th>
            <th>OWNER</th>
            <th>LAST POST</th>
        </tr>
        <tr>
            <td>
                <time datetime="{{ thread.created_at }}">
                    {{ thread.created_at | started_time }}
                </time>
            </td>
            <td>{{ thread.user.public_name }}</td>
            <td>{% last_posted_user_name thread %}</td>
        </tr>
        </tbody>
    </table>

    {% if thread.poll %}
        <h2>Poll</h2>
        <strong>{{ thread.poll.question }}</strong><br><br>

        <div class="container">

            <div class="col-md-2">
                <p>Voting so far:</p>
            </div>

            <div class="col-md-8">

                {% for subject in thread.poll.subjects.all %}

                    <span class="pull-left"><strong>{{ subject.name }}</strong></span>
                    {% autoescape off %}
                        {% user_vote_button thread subject user %}
                    {% endautoescape %}
                    <span class="pull-right">{{ subject|vote_percentage }}%</span>

                    <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar"
                             aria-value="{{ subject|vote_percentage }}" aria-valuemin="0" aria-valuemax="100"
                             style="width:{{ subject|vote_percentage }}%;">
                        </div>
                    </div>

                {% endfor %}

            </div>

        </div>

    {% endif %}

    <table class="table table-striped">
        {% for post in thread.posts.all %}
            <tr>
                {% include "forum/post.html" %}
            </tr>
        {% endfor %}
    </table>
    {% if user.is_authenticated %}
        <p><a href="{% url 'forum_new_post' thread.id %}" class="btn btn-primary">Post a reply</a></p>
    {% else %}
        <p><a href="{% url 'login' %}" class="btn btn-primary">Login to post a reply</a></p>
    {% endif %}
{% endblock %}