{% extends "forum/forum_base.html" %}
{% load thread_extras %}
{% block forum_content %}
    <h1>{{ subject.name }}</h1>
    {% if user.is_authenticated %}
        <p>
            <a href="{% url 'new_thread' subject.id 'no_poll' %}" class="btn btn-primary">New Thread</a>
            <a href="{% url 'new_thread' subject.id 'poll' %}" class="btn btn-primary">New Thread with Poll</a>
        </p>
    {% endif %}
    <table class="table table-striped table-hover">
        <tr>
            <th>Topic</th>
            <th>Author</th>
            <th>Posts</th>
            <th>Freshness</th>
        </tr>
        {% for thread in threads %}
            <tr>
                <td>{% include "forum/thread_item.html" %}</td>
                <td>{{ thread.user }}</td>
                <td>{{ thread.post_count }}</td>
                <td>{{ thread.freshness }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}