{% extends "forum/forum_base.html" %}
{% load thread_extras %}
{% block forum_content %}
    <h1>{{ subject.name }}</h1>
    {% if user.is_authenticated %}
        <p>
            <a href="{% url 'forum_new_thread' subject.id 'no_poll' %}" class="btn btn-primary">New topic</a>
            <a href="{% url 'forum_new_thread' subject.id 'poll' %}" class="btn btn-primary">New topic with poll</a>
        </p>
    {% endif %}

    <ol class="breadcrumb">
        <li><a href="{% url 'forum_forums' %}">Forums</a></li>
        <li class="active">{{ subject.name }}</li>
    </ol>
    <table class="table table-striped table-hover">
        <tr>
            <th>TOPIC</th>
            <th>AUTHOR</th>
            <th>POSTS</th>
            <th>FRESHNESS</th>
        </tr>
        {% for thread in threads %}
            <tr>
                <td>{% include "forum/thread_item.html" %}</td>
                <td>{{ thread.user.public_name }}</td>
                <td>{{ thread.post_count }}</td>
                <td>{{ thread.freshness }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}