{% extends "forum/topic_form_base.html" %}
{% load bootstrap_tags %}
{% block thread_form_content %}
    <form method="post" action="{% url 'forum_new_thread' subject.id 'poll' %}">
        {% csrf_token %}
        <div class="form-group">
            {{ thread_form | as_bootstrap }}
            {{ post_form | as_bootstrap }}
        </div>
        <div id="poll_form" class="form-group">
            {{ poll_form|as_bootstrap }}
            {{ poll_subject_formset.management_form }}
            {% for poll_subject_form in poll_subject_formset %}
                {{ poll_subject_form|as_bootstrap }}
            {% endfor %}
        </div>
        <div class="form-group submit">
            <button type="submit" class="btn btn-primary">Post new topic</button>
        </div>
    </form>
{% endblock %}