{% extends "forum/forum_base.html" %}
{% load thread_extras %}
{% load staticfiles %}
{% block forum_content %}

    <ol class="breadcrumb">
        <li>
            <a href="{% url 'forum_forums' %}">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                Forums
            </a>
        </li>
        <li><a href="{% url 'forum_threads' thread_subject.id %}">{{ thread_subject.name | truncatechars:35 }}</a></li>
        <li class="active">{{ thread.name | truncatechars:35 }}</li>
    </ol>

    <h2>{{ thread.name }} <span class="badge">POLL</span></h2>

    {% if thread.poll %}
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                    <div class="dialog">
                        <legend>{{ thread.poll.question }}</legend>
                        <h4>Voting so far:</h4>
                        <div class="voting">
                            <table>
                                {% for subject in thread.poll.subjects.all %}
                                    <tr>
                                        <td class="vote-results">
                                            <span><strong>{{ subject.name }}</strong></span>
                                            <span class="pull-right">{{ subject|vote_percentage }}%</span>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-info" role="progressbar"
                                                     aria-value="{{ subject|vote_percentage }}" aria-valuemin="0"
                                                     aria-valuemax="100" style="width:{{ subject|vote_percentage }}%;">
                                                </div>
                                            </div>
                                        </td>
                                        <td class="vote-button">
                                            {% autoescape off %}
                                                {% user_vote_button thread subject user %}
                                            {% endautoescape %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    {% endif %}

    <div class="thread-container">
        {% for post in thread.posts.all %}
            <div class="row">
                {% include "forum/post.html" %}
            </div>
        {% endfor %}
    </div>

    <div class="thread-reply-button">
        {% if user.is_authenticated %}
            <p><a href="{% url 'forum_new_post' thread.id %}" class="btn btn-primary">Post a reply</a></p>
        {% else %}
            <p><a href="{% url 'login' %}" class="btn btn-primary">Login to post a reply</a></p>
        {% endif %}
    </div>

{% endblock %}