/* Bootstrap theme overrides start */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Exo 2', sans-serif;
    color: #044f98;
}
body, p, div, legend {
    font-family: 'Roboto', sans-serif;
    color: #444444;
}

a {
    color: #317eac;
}

a:hover {
    color: #044f98;
}

.breadcrumb > .active {
    color: #777777;
}

.text-muted {
    color: #777777;
}

.alert-warning {
    color: #907642;
}

/* Bootstrap theme overrides end */

.dialog {
    margin-top: 20px;
    margin-bottom: 30px;
    border: 1px solid #bbbbbb;
    border-radius: 8px;
    padding: 24px;
}

.dialog-buttons {
    margin-top: 20px;
    text-align: right;
}

.dialog-buttons .btn {
    margin: 0 0 0 8px;
}


/* footer start */

footer {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #333333;
    color: #dddddd;
}

footer table {
    width: 100%;
}

footer td {
    width: 50%;
}

footer td:first-child {
    text-align: left;
}

footer td:last-child {
    text-align: right;
}

footer table img {
    padding-left: 15px;
}

footer a{
    color: #dddddd;
}

/* footer end */

/* navbar start */

#navbar-logo {
    font-family: 'Exo 2', sans-serif;
    font-size: 21px;
    font-weight: 600;

}
/* navbar end */

/* add car start */

.add-car{
    margin-top: 70px;
}

.uk-rear-plate{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 15px;
    color: black;
    border: 2px solid black;
    background-color: #ffd800;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    width:200px;
    height: 48px;
    padding: 0 12px;
    border-radius: 4px;
    text-align: center;
}

#add-car-submit-button {
    margin-bottom: 15px;
}

#add-car-wait-api {
    margin-top: 30px;
    height: 200px;
    text-align: center;
}

.add-car-details-form-buttons{
    text-align: right;
    margin: 20px 0 40px 0;
}

.add-car-details-form-buttons .btn {
    margin: 0 4px 0 4px;
}

/* add car end */

/* messages */

.message-container{
    margin-top: 70px;
}

/* messages end */

/* home page background image */
#black_background {
    background-color: black;
    margin-top: 51px;
    height: 530px;
}

#index_background{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 530px;
    max-width: 1400px;
    background-size: cover;
}

.intro_driver{
    position: absolute;
    bottom: -500px;
    margin: 0 15px;
    text-shadow: 3px 3px 5px black;
}

.intro_driver h1 {
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    font-size: 60px;
    color: #46bcff;
}

.intro_driver #fuel {
    color: #bbbbbb;
}

.intro_driver p{
    color: #d9f1ff;
    font-size: 20px;
    line-height: 110%;
}

.intro-button {
    margin-top: 20px;
}

.intro{
    padding: 40px;
    text-align: center;
}

.intro h1{
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    margin-top: 0;
    font-size: 50px;
    color: #317eac;
}

.intro p{
    font-size: 18px;
}

.intro img{
    margin-top: 20px;
    margin-bottom: 12px;
    width: 600px;
}

.embedded-logo{
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
}


.intro-browse-data{
    background-color: #eeeeee;
}

/* home page background image end */

@media screen and (max-width: 768px){
    .intro img{
        width: 420px;
    }
    .dialog {
        margin-top: 16px;
        margin-bottom: 24px;
        border: 1px solid #bbbbbb;
        border-radius: 5px;
        padding: 12px;
    }
    .intro_driver h1 {
        font-size: 50px;
    }
    .intro_driver p{
        font-size: 18px;
    }
}

/* Extra Small Devices, Phones */
@media screen and (max-width : 480px) {
    .intro img{
        width: 280px;
    }
    .dialog {
        margin-top: 10px;
        margin-bottom: 16px;
        border: none;
        padding: 0;
    }
    #add-car-wait-api {
        margin-top: 20px;
        height: 140px;
        text-align: center;
    }
    .intro_driver{
        text-align: center;
        margin-left: 0;
    }
    .intro_driver h1 {
        font-size: 40px;
    }
    .intro_driver p{
        font-size: 18px;
    }
}

@media screen and (max-width : 360px) {
    .intro_driver h1 {
        font-size: 34px;
    }
    .intro_driver p{
        font-size: 16px;
    }

    .intro img{
        width: 200px;
    }
    .intro h1{
        font-size: 36px;
    }
}

/* Custom, iPhone Retina */
@media screen and (max-width : 320px) {

}
