/* footer start */

footer table {
    width: 100%;
}

footer td {
    width: 50%;
}

footer td:first-child {
    text-align: left;
}

footer td:last-child {
    text-align: right;
}

footer table img {
    padding-left: 15px;
}

footer a{
    color: #444444;
}

/* footer end */


/* Cars start */

.bigStatsTable{
    width: 100%;
}

.bigStatsTbody{
    width: 100%;
}

.statHeadings{
    border-bottom-style: solid;
    border-bottom-width: thin;
    padding-top: 16px;
    padding-bottom: 6px;
}

.statDetails{
    font-size: 50px;
    font-weight: bold;
    font-stretch: condensed;
    color: purple;
}

.statUnits{
    font-size: large;
    font-weight: bold;
    font-stretch: condensed;
    margin-left: 4px;
}

.carDetailButtons span{
    font-size: x-large;
}

.carHeading h1{
    margin: 0;
    margin-bottom: 10px;
}

.tableSpacer {
    border-bottom-style: none;
    width: 30px;
}

.uk-rear-plate {
    color: black;
    border: 2px solid black;
    background-color: #ffd800;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    width:200px;
    height: 48px;
    padding: 8px 12px;
    border-radius: 4px;
    text-align: center;
    /*
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    */
}

/* Cars end */

