{% extends "accounts/accounts_base.html" %}
{% load bootstrap_tags %}
{% load static %}

{% block head_js %}
    <script src="https://js.stripe.com/v2/" type="text/javascript"></script>
    <script type="text/javascript">
        //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
        //]]>
    </script>
    <script type="text/javascript" src="{% static "lib/stripe.js" %}"></script>
{% endblock %}

{% block accounts_content %}
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="dialog">
            <form role="form" method="post" id="register-form" action="{% url 'register' %}">
                <div id="credit-card-errors" style="display:none">
                    <div class="alert-message block-message error" id="stripe-error-message"></div>
                </div>
                <legend>Create a new account</legend>
                <h4>
                    Membership is currently by subscription at £1.99 GBP/month
                </h4>
                <p>
                    If you'd like to explore <span class="embedded-logo">EasyFuelTracker</span> with a fully active
                    account that has been pre-populated with demonstration cars and data, please make your request using
                    the <a href="{% url 'contact' %}">contact form.</a>
                </p>
                <hr>
                {% csrf_token %}
                {{ form|as_bootstrap }}
                <div class="dialog-buttons">
                    <input class="btn btn-info" id="validate_card_btn" name="commit" type="submit"
                           value="Register">
                </div>
            </form>
        </div>
    </div>
{% endblock %}