{% extends "accounts/accounts_base.html" %}
{% load bootstrap_tags %}
{% load static %}

{% block head_js %}
    <script src="https://js.stripe.com/v2/" type="text/javascript"></script>
    <script type="text/javascript">
        //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
        //]]>
    </script>
    <script type="text/javascript" src="{% static "lib/stripe.js" %}"></script>
{% endblock %}

{% block accounts_content %}
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="dialog">
            <form role="form" method="post" id="register-form" action="{% url 'register' %}">
                <div id="credit-card-errors" style="display:none">
                    <div class="alert-message block-message error" id="stripe-error-message"></div>
                </div>
                <legend>Create a new account</legend>
                {% csrf_token %}
                {{ form|as_bootstrap }}
                <div class="dialog-buttons">
                    <input class="btn btn-info" id="validate_card_btn" name="commit" type="submit"
                           value="Register">
                </div>
            </form>
        </div>
    </div>
{% endblock %}