{% extends 'base.html' %}
{% block content %}
    <div class="container general-info">
        <h2>About</h2>
        <p>
            Tofu pinterest schlitz 90's. Hot chicken food truck art party, authentic before they sold out chia austin salvia gochujang heirloom actually. Skateboard cliche snackwave, semiotics iceland meggings austin dreamcatcher flannel. Readymade chartreuse fanny pack meditation, deep v mlkshk meh photo booth bicycle rights pop-up pour-over etsy roof party trust fund. Keytar deep v semiotics slow-carb iPhone. Pitchfork XOXO pop-up butcher skateboard DIY kogi godard listicle, tattooed kale chips hell of whatever. Poke coloring book twee, pour-over gochujang banjo vinyl kinfolk freegan leggings before they sold out tofu next level plaid raw denim.
        </p>
        <p>
            Dreamcatcher craft beer brooklyn, bushwick authentic jianbing polaroid try-hard ennui pickled aesthetic single-origin coffee. Meggings freegan heirloom kinfolk thundercats cornhole bushwick roof party, celiac scenester everyday carry. Fam typewriter single-origin coffee humblebrag pinterest sartorial copper mug, mustache keffiyeh subway tile coloring book ennui farm-to-table. Biodiesel gochujang VHS umami forage. Pop-up celiac seitan, gochujang master cleanse you probably haven't heard of them pok pok cold-pressed organic flannel. Letterpress offal brunch trust fund poke ramps actually austin fanny pack subway tile, distillery raw denim chartreuse ugh. Meggings ethical farm-to-table sartorial, franzen whatever deep v blue bottle schlitz.
        </p>
        <p>
            Yr cardigan slow-carb, cornhole shabby chic blue bottle fanny pack biodiesel next level pop-up woke williamsburg. Messenger bag activated charcoal tumeric schlitz selfies mlkshk. Readymade sartorial locavore, you probably haven't heard of them distillery post-ironic kombucha everyday carry stumptown listicle pour-over before they sold out offal. La croix shabby chic mustache roof party pinterest. Biodiesel glossier keffiyeh butcher, offal messenger bag cray locavore art party blue bottle. Selfies yr banjo chartreuse organic, pitchfork forage meggings vape. Waistcoat marfa sustainable health goth hoodie, tumeric tote bag beard kogi air plant pour-over knausgaard green juice VHS.
        </p>
    </div>
{% endblock %}