<h4>Economy calculations</h4>
<p>
    <span class="embedded-logo">EasyFuelTracker</span> calculates your vehicle's fuel economy using the brim-to-brim method (one full tank to the next full tank).
<p>
    Partial tanks are included in the calculations if they meet certain conditions.
</p>
<p>
    If you miss logging any refuels, your latest refuel and all preceding refuels to the previous full tank are
    excluded.
</p>
<p>
    For further details on how we calculate the fuel economy figures, please <a href="#">click here.</a>
</p>
<p>
    <strong>To get good results:</strong>
</p>
<ul>
    <li>
        <p><strong>Always try to fill your tank.</strong></p>
    </li>
    <li>
        <p><strong>Record all refueling events.</strong></p>
    </li>
</ul>