<h4>Economy calculations</h4>
<p>
   <span class="embedded-logo">EasyFuelTracker</span> calculates your vehicle's fuel economy using the brim-to-brim method (one full tank to the next full tank). One or more partial tanks can be included in the calculations, so long as they are preceded by and followed by a full tank.  If you miss logging any refuels, all preceding refuels to the previous full tank must be excluded. The following tank becomes a valid start point for the next brim-to-brim calculation, but cannot be included in the previous brim-to-brim calculation.
</p>