{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div id="black_background" xmlns="http://www.w3.org/1999/html">
        <div id="index_background" style="background: url('{% static "img/home_background.jpg" %}') center no-repeat;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="intro_driver">
                            <h1>Easy<span id="fuel">Fuel</span>Tracker</h1>
                            <p>Manufacturers' economy figures rarely match real-world performance.</p>
                            <p>Now you can easily track the true fuel economy of your car.</p>
                            <p class="intro-button">
                                <a class="btn btn-primary btn-lg" href="{% url 'register' %}">Sign-up now</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="intro">
                <h1>Log your fueling stats</h1>
                <p>Use <span class="embedded-logo">EasyFuelTracker</span> to log your mileage, expenditure and fuel
                    economy data.</p>
                <p>Contribute your data to the community to enable drivers to choose their next car using real-world
                   fuel economy data.</p>
                <img id="laptop" src="{% static "img/Laptop.png" %}" alt="Laptop"/>
                <p class="intro-button">
                    <a class="btn btn-info btn-lg" href="{% url 'register' %}">Sign-up now</a>
                </p>
            </div>
        </div>
    </div>

    <div  class="intro-browse-data">
        <div class="container">
            <div class="row">
                <div class="intro">
                    <h1>Browse real-world economy data</h1>
                    <p>Use <span class="embedded-logo">EasyFuelTracker</span> to choose your next car based on its real
                        fuel economy.</p>
                    <p>No account is required to browse the data.</p>
                    <p class="intro-button">
                        <a class="btn btn-info btn-lg" href="{% url 'stats' %}">Browse data</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}