{% extends 'base.html' %}
{% block content %}
    <div class="container general-info">
        <h2>Terms and conditions</h2>
        <p>
            Kombucha typewriter chartreuse dreamcatcher, YOLO dolor fam enim ethical pinterest aliquip. Taxidermy snackwave vegan brooklyn distillery. Hell of semiotics placeat raw denim selfies, veniam tote bag thundercats wolf vegan prism DIY. Cillum artisan everyday carry aute lomo tbh. DIY polaroid godard 90's. Next level cred craft beer, bicycle rights hexagon photo booth tacos pour-over intelligentsia. Eiusmod mollit shoreditch incididunt, esse commodo odio adipisicing church-key sartorial fap nulla helvetica drinking vinegar.
        </p>
        <p>
            Austin readymade deserunt glossier truffaut 3 wolf moon four loko venmo semiotics godard. Cray coloring book ennui four loko, vero non sustainable migas. Hot chicken wolf intelligentsia marfa, placeat laborum whatever incididunt. Everyday carry man braid photo booth four loko hammock. Trust fund XOXO put a bird on it farm-to-table distillery cillum heirloom, master cleanse humblebrag laborum nisi kombucha id duis. Eiusmod fashion axe minim, +1 everyday carry anim succulents tempor lumbersexual pug snackwave banh mi. Edison bulb vero tousled, nisi disrupt banh mi four dollar toast banjo quinoa fugiat.
        </p>
        <h2>Privacy</h2>
        <p>
            Assumenda bitters wolf, ut bespoke williamsburg occupy godard helvetica tote bag nulla. Id intelligentsia next level gastropub scenester, listicle officia bespoke blog mustache truffaut biodiesel. Selvage kickstarter veniam heirloom, anim jean shorts live-edge kogi YOLO food truck tousled 3 wolf moon dolor enamel pin copper mug. Eu jianbing drinking vinegar pork belly microdosing. Meggings meh freegan, echo park officia marfa godard cornhole ramps mustache coloring book portland etsy. Voluptate kogi poke ex. Yr officia blog laboris, proident scenester waistcoat asymmetrical.
        </p>
        <p>
            Banh mi hella et meditation, tacos knausgaard locavore. Street art selvage put a bird on it bushwick pork belly vexillologist, cold-pressed est normcore church-key. Fap intelligentsia deserunt hella XOXO, food truck kitsch tumblr skateboard before they sold out authentic church-key reprehenderit bicycle rights. Crucifix woke nulla, meh tousled roof party 90's YOLO. Raclette kinfolk reprehenderit culpa, disrupt vexillologist sed etsy ut fixie forage nisi quis. Cupidatat kitsch banjo accusamus mlkshk viral. Green juice chambray aliquip keytar, meh officia locavore reprehenderit portland cillum odio 8-bit blog hammock excepteur.
        </p>
    </div>
{% endblock %}