{% extends "base.html" %}
{% load bootstrap_tags %}
{% load staticfiles %}
{% block head_js %}
    <script src="{% static 'lib/tinymce/tinymce.min.js' %}"></script>
    <script type="text/javascript">
        tinyMCE.init({
            mode: "textareas",
            theme: "modern",
            plugins: "paste",
        });
    </script>
{% endblock %}

{% block content %}
    {% load bootstrap_tags %}
    <h1>Add a post</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %} <!-- security measure to prevent Cross Site Request Forgery. -->
        {{ form | as_bootstrap }}
        <button type="submit" class=" btn btn- btn-info">Save</button>
    </form>
{% endblock %}