{% extends "blog/blog_base.html" %}
{% block blog_content %}
    {% if staff %}
        <button class="btn btn-info" onclick="location.href='{% url 'blog_new_post' %}'">New post</button>
            &nbsp;(This button is only visible to staff members)
        <hr>
    {% endif %}
        <div class="blog-set">
            {% for post in posts %}
                <div class="blog-card" onclick="location.href='{{ post.id }}';">
                    {% if post.image %}
                        <div class="image">
                            <img src="/media/{{ post.image}}">
                        </div>
                    {% endif %}
                    <div class="text-content">
                        <div class="details">
                            <h4><strong>{{ post.title|truncatechars_html:60 }}</strong></h4>
                            <p>
                                <strong>{{ post.author.public_name }}</strong><br>
                                <span class="text-muted">{{ post.published_date | date:"d F Y, H:m" }}</span>
                            </p>
                        </div>
                        <div class="snippet">
                            {% autoescape off %}
                                {% if post.image %}
                                    {{ post.content|truncatechars_html:100 }}
                                {% else %}
                                    {{ post.content|truncatechars_html:320 }}
                                {% endif %}
                            {% endautoescape %}
                        </div>
                        <hr>
                        <table class="text-muted">
                            <tr>
                                {% if post.category %}
                                    <td>{{ post.category|truncatechars:30 }}</td>
                                {% else %}
                                    <td>General</td>
                                {% endif %}
                                <td class="views">
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                    &nbsp;{{ post.views }}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            {% endfor %}
        </div>
{% endblock %}