.blog-container {
    margin-bottom: 20px;
}

.blog-item hr {
    margin-top: 30px;
}

.blog-item .snippet {
    margin: 20px 0 20px 0;
}

.blog-set {
    position: relative;
    text-align: center;
}

.blog-card {
    display: inline-block;
    position: relative;
    border: 1px solid #dddddd;
    border-radius: 10px;
    box-shadow: 3px 3px 2px #888888;
    width: 20%;
    min-width: 262px;
    vertical-align: top;
    margin: 10px;
    overflow: hidden;
}

.blog-card:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 5px 5px 4px #888888;
    transition: all, 0.1s;
}

.blog-card .text-content {
    text-align: left;
    margin: 16px;
}

.blog-card table {
    width: 100%
}

.blog-card .views {
    text-align: right;
}

.blog-card .image img {
    width: 100%;
    object-fit: cover;
    max-height: 200px;
    border-bottom: 1px solid #bbbbbb;
}

.blog-post-detail img {
    margin: 0 0 20px 20px;
    float: right;
    max-width: 300px;
}

.blog-post-detail .heading {
    margin-top: 0;
}

.blog-post-detail {
    margin: 12px 0 0 0;
    font-size: 1.2em;
    line-height: 1.6em;
}

/* BS large */
@media screen and (max-width: 1200px){

}

/* BS medium */
@media screen and (max-width: 980px){

}

/* BS small */
@media screen and (max-width: 768px){
    .blog-container {
       margin-bottom: 6px;
    }

    .blog-post-detail{
        margin: 0;
    }

    .blog-post-detail img {
        width: 50%;
    }
    .blog-post-detail .heading {
        font-size: 24px;
    }

    .blog-post-detail .details{
        font-size: 16px;
    }
}

/* Card switch single column */
@media screen and (max-width: 640px){
    .blog-card {
        min-width: 350px;
        font-size: 1.1em;
        margin-bottom: 30px;
    }
    .blog-card .image img {
        max-height: 267px;
    }
}

/* Extra Small Devices, Phones */
@media screen and (max-width : 480px) {
    .blog-post-detail {
        margin: 0;
        font-size: 1em;
    }
    .blog-post-detail .heading {
        font-size: 22px;
    }
    .blog-post-detail .image{
        width: 100%;
    }
    .blog-post-detail img {
        margin: 0 0 20px 0;
        width: 100%;
        float: none;
        max-width: none;
    }
    .blog-card {
        min-width: 300px;
        font-size: 1.0em;
        margin-bottom: 20px;
    }
    .blog-card .image img {
        max-height: 229px;
    }
}


@media screen and (max-width : 360px) {
    .blog-card {
        min-width: 240px;
        font-size: 0.95em;
        margin-bottom: 16px;
    }
    .blog-card .image img {
        max-height: 183px;
    }
}

/* Custom, iPhone Retina */
@media screen and (max-width : 320px) {

}
