.navbar-form input, .form-inline input {
    width: auto;
}

.blog-container {
    margin-bottom: 40px;
}

.blog-item hr {
    margin-top: 30px;
}

.blog-item .snippet {
    margin: 20px 0 20px 0;
}

.blog-set {
    position: relative;
    text-align: center;
}

.blog-card {
    display: inline-block;
    position: relative;
    border: 1px solid #dddddd;
    border-radius: 10px;
    box-shadow: 3px 3px 2px #888888;
    width: 20%;
    min-width: 262px;
    vertical-align: top;
    margin: 10px;
    overflow: hidden;
}

.blog-card:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 5px 5px 4px #888888;
    transition: all, 0.1s;
}

.blog-card .text-content {
    text-align: left;
    margin: 16px;
}

.blog-card table {
    width: 100%
}

.blog-card .views {
    text-align: right;
}

.blog-card .image img {
    width: 100%;
    object-fit: cover;
    max-height: 200px;
    border-bottom: 1px solid #bbbbbb;
}


a, a:hover {
    color: #223344;
    text-decoration: none;
}

/* BS large */
@media screen and (max-width: 1200px){

}

/* BS medium */
@media screen and (max-width: 980px){

}

/* BS small */
@media screen and (max-width: 768px){

}

/* Extra Small Devices, Phones */
@media screen and (max-width : 480px) {

}


@media screen and (max-width : 360px) {

}

/* Custom, iPhone Retina */
@media screen and (max-width : 320px) {

}
