{% extends 'base.html' %}
{% block content %}
    <p class="uk-rear-plate">{{ car_details.yourReg }}</p>
    <div class="">
        <p>Your registration is used only to obtain correct vehicle information from a 3rd party. It is not retained on our system.</p>
    </div>
    <div>
        <h4 class="">Please confirm this is your car:</h4>
        <table class="table table-striped table-hover ">
            <tbody>
            <tr>
                <td>Make</td>
                <td>{{ car_details.make }}</td>
            </tr>
            <tr>
                <td>Model</td>
                <td>{{ car_details.model }}</td>
            </tr>
            <tr>
                <td>Colour</td>
                <td>{{ car_details.make }}</td>
            </tr>
            <tr>
                <td>Manufactured</td>
                <td>{{ car_details.yearOfManufacture }}</td>
            </tr>
            <tr>
                <td>Engine size</td>
                <td>{{ car_details.cylinderCapacity }}</td>
            </tr>
            <tr>
                <td>Transmission</td>
                <td>{{ car_details.transmission }}</td>
            </tr>
            <tr>
                <td>Fuel type</td>
                <td>{{ car_details.fuelType }}</td>
            </tr>
            <tr>
                <td>Doors</td>
                <td>{{ car_details.numberOfDoors }}</td>
            </tr>
            </tbody>
        </table>

        <form action="/cars/add_car_details/" method="POST">
        {% csrf_token %}
            <label for="your_regHmmmmmmmmmmmmmmmm"></label>
            <input class="btn btn-primary" type="submit" value="Yes, this is my car!">
            <button type="button" class="btn btn-warning" data-dismiss="modal">Reset</button>
        </form>

    </div>
{% endblock %}