{% extends 'cars/car_base.html' %}
{% block car_content %}

    <div class="row car-stats">

        <div class="col-md-6 big-stats">

            <table>
                <tr>
                    <td class="statHeadings">Economy</td>
                    <td class="tableSpacer"></td>
                    <td class="statHeadings">Tracked mileage</td>
                </tr>
                <tr>
                    <td>
                        <span class="statDetails">{{ car_statistic.economy }}</span>
                        <span class="statUnits">mpg</span>
                    </td>
                    <td class="tableSpacer"></td>
                    <td>
                        <span class="statDetails">{{ car_statistic.miles }}</span>
                        <span class="statUnits"></span>
                    </td>
                </tr>
                <tr>
                    <td class="statHeadings">Fuel used</td>
                    <td class="tableSpacer"></td>
                    <td class="statHeadings">Ave. fuel cost per mile</td>
                </tr>
                <tr>
                    <td>
                        <span class="statDetails">{{ car_statistic.fuel }}</span>
                        <span class="statUnits">litres</span>
                    </td>
                    <td class="tableSpacer"></td>
                    <td>
                        <span class="statDetails">{{ car_statistic.ppm }}</span>
                        <span class="statUnits">p / mile</span>
                    </td>
                </tr>
                <tr>
                    <td class="statHeadings">Expenditure</td>
                    <td class="tableSpacer"></td>
                    <td class="statHeadings">Ave. cost per litre</td>
                </tr>
                <tr>
                    <td>
                        <span class="statDetails">£{{ car_statistic.expenditure }}</span>
                        <span class="statUnits"></span>
                    </td>
                    <td class="tableSpacer"></td>
                    <td>
                        <span class="statDetails">{{ car_statistic.fuel_cost }}</span>
                        <span class="statUnits">p / litre</span>
                    </td>
                </tr>
            </table>

            <div class="short-calculation-details">
                <p>
                    <span class="embedded-logo">EasyFuelTracker</span> calculates your vehicle's fuel economy using the
                    brim-to-brim method.
                <p>
                    Partial tanks are included in the calculations if they meet certain conditions.
                </p>
                <p>
                    If you miss logging any refuels, your latest refuel and all preceding refuels to the previous full tank
                    are excluded.
                </p>
                <p>
                    For further details, please refer to your car's refueling history.
                </p>
            </div>

        </div>

        <div class="col-md-6 chart">
            <div class="chart-container">
                <canvas id="chart"></canvas>
            </div>
            <div class="btn-group menu">
                <p>Larger points represent accumulated part-tank refuels</p>
                <select id="chart-range" data-id="{{ car_detail.id }}" class="selectpicker chart-select"
                        data-width="140px">
                    <option value="7">1 week</option>
                    <option value="30">1 month</option>
                    <option value="90">3 months</option>
                    <option value="183" selected>6 months</option>
                    <option value="365">1 year</option>
                    <option value="1095">3 years</option>
                </select>
                <select id="chart-type" class="selectpicker chart-select" data-width="140px">
                    <option selected value="economy">Fuel economy</option>
                    <option value="price">Fuel price</option>
                    <option value="fuel">Fuel quantity</option>
                    <option value="expenditure">Expenditure</option>
                    <option value="mileage">Mileage</option>
                </select>
            </div>
        </div>
    </div>
{% endblock %}