{% extends 'cars/car_base.html' %}
{% block car_content %}

    <div class="car-details col-lg-10 col-lg-offset-1">
        {% if car_detail.image %}
            <img src="{{ car_detail.image.large.url}}" alt="{{ car_detail.make }} {{ car_detail.model }}">
        {% endif %}
        <table class="table table-striped">
            <tr>
                <td>Manufacturer</td>
                <td>{{ car_detail.make }}</td>
            </tr>
            <tr>
                <td>Model</td>
                <td>{{ car_detail.model }} {{ car_detail.sub_model }}</td>
            </tr>
            <tr>
                <td>Colour</td>
                <td>{{ car_detail.colour }}</td>
            </tr>
            <tr>
                <td>Mileage at last refuel</td>
                <td>
                    {% if refuel.odometer %}
                        {{ refuel.odometer }} miles
                    {% else %}
                        No logged refuels
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Manufactured</td>
                <td>{{ car_detail.year_of_manufacture }}</td>
            </tr>
            <tr>
                <td>Engine size</td>
                <td>{{ car_detail.cylinder_capacity }}</td>
            </tr>
            <tr>
                <td>Transmission</td>
                <td>{{ car_detail.transmission }}</td>
            </tr>
            <tr>
                <td>Fuel type</td>
                <td>{{ car_detail.fuel_type }}</td>
            </tr>
            <tr>
                <td>CO<sub>2</sub> emissions</td>
                <td>{{ car_detail.co2 }}</td>
            </tr>
            <tr>
                <td>Doors</td>
                <td>{{ car_detail.doors }}</td>
            </tr>
            <tr>
                <td>Date added</td>
                <td>{{ car_detail.date_added|date:"d F Y" }}</td>
            </tr>
            <tr>
                <td>Contributing to community data</td>
                <td>
                    {% if car_detail.exclude_from_collation %}
                        No ({{ car_detail.exclude_from_collation_reason }})
                    {% else %}
                        Yes
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>

{% endblock %}
