{% extends 'cars/car_base.html' %}
{% block car_content %}

    <div class="row">

        <div class="col-md-4">
            <h4>Economy stats</h4>
            <table class="bigStatsTable">
                <tbody class="bigStatsTbody">
                    <tr>
                        <td class="statHeadings">Economy</td>
                        <td class="tableSpacer"></td>
                        <td class="statHeadings">Tracked mileage</td>
                    </tr>
                    <tr>
                        <td>
                            <span class="statDetails">{{ car_statistic.economy }}</span>
                            <span class="statUnits">mpg</span>
                        </td>
                        <td class="tableSpacer"></td>
                        <td>
                            <span class="statDetails">{{ car_statistic.miles }}</span>
                            <span class="statUnits">miles</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="statHeadings">Fuel used</td>
                        <td class="tableSpacer"></td>
                        <td class="statHeadings">Ave. mileage cost</td>
                    </tr>
                    <tr>
                        <td>
                            <span class="statDetails">{{ car_statistic.fuel }}</span>
                            <span class="statUnits">litres</span>
                        </td>
                        <td class="tableSpacer"></td>
                        <td>
                            <span class="statDetails">{{ car_statistic.ppm }}</span>
                            <span class="statUnits">p / mile</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="statHeadings">Expenditure</td>
                        <td class="tableSpacer"></td>
                        <td class="statHeadings">Ave. fuel cost</td>
                    </tr>
                    <tr>
                        <td>
                            <span class="statDetails">£{{ car_statistic.expenditure }}</span>
                            <span class="statUnits"></span>
                        </td>
                        <td class="tableSpacer"></td>
                        <td>
                            <span class="statDetails">{{ car_statistic.fuel_cost }}</span>
                            <span class="statUnits">p / litre</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-8">
            <canvas id="chart" width="400" height="400"></canvas>
            <div class="btn-group">
                <select id="chart-range" data-id="{{ car_detail.id }}" class="selectpicker chart-select">
                    <option value="1 week">1 week</option>
                    <option value="1 month">1 month</option>
                    <option value="3 months">3 months</option>
                    <option selected value="6 months">6 months</option>
                    <option value="1 year">1 year</option>
                    <option value="3 years">3 years</option>
                </select>
                <select id="chart-type" class="selectpicker chart-select">
                    <option selected value="economy">Fuel economy</option>
                    <option value="price">Fuel price</option>
                    <option value="fuel">Fuel quantity</option>
                    <option value="expenditure">Expenditure</option>
                    <option value="mileage">Mileage</option>
                </select>
            </div>
        </div>
    </div>
{% endblock %}