{% extends 'base.html' %}
{% block content %}

    <div class="row">
        <div class="col-md-7 carHeading">
            <h1>{{ car_detail.make }} {{ car_detail.model }}</h1>
        </div>
        <div class="col-md-5 text-right carDetailButtons">
            <!--http://glyphicons.com/ for more glyphicons-->
            <div class="btn-group">
                <a aria-expanded="false" href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                   data-placement="bottom" title="Select vehicle">
                    <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li class="addCarModal"><a href="/cars">Detailed list</a></li>
                    <li role="separator" class="divider"></li>
                    {% for car in cars_list %}
                        <li class="switchCar"><a href="/cars/{{ car.id }}">{{ car.make }} {{ car.model }}</a></li>
                    {%  endfor %}
                    <li role="separator" class="divider"></li>
                    <li class="addCarModal"><a href="/cars/add_car/">Add new car</a></li>
                </ul>
            </div>
            <div class="btn-group">
                <a aria-expanded="false" href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                   data-placement="bottom" title="Edit vehicle">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/cars/refuel_car/{{ car_detail.id }}">Refuel</a></li>
                    <li><a href="#" class="refuelHistory">Refuel history</a></li>
                    <li><a href="#" class="uploadPhoto">Upload photo</a></li>
                    <li><a href="/cars/delete_car/{{ car_detail.id }}">Delete car</a></li>
                </ul>
            </div>
            <div class="btn-group">
                <a aria-expanded="false" href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                   data-placement="bottom" title="Stats date range">
                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu chartPeriod">
                    <li><a href="#" name="1w">1 Week</a></li>
                    <li><a href="#" name="1m">1 Month</a></li>
                    <li><a href="#" name="3m">3 Months</a></li>
                    <li><a href="#" name="6m">6 Months</a></li>
                    <li><a href="#" name="1y">1 Year</a></li>
                    <li><a href="#" name="3y">3 Years</a></li>
                    <li><a href="#" name="all">Everything</a></li>
                </ul>
            </div>
            <div class="btn-group">
                <a aria-expanded="false" href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                   data-placement="bottom" title="Chart type">
                    <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu chartType">
                    <li><a href="#" name="pricesChart">Fuel prices</a></li>
                    <li><a href="#" name="economyChart">Fuel economy</a></li>
                    <li><a href="#" name="expenditureChart">Expenditure</a></li>
                    <li><a href="#" name="fuelChart">Total fuel</a></li>
                    <li><a href="#" name="vehicleDetails">Vehicle details</a></li>
                </ul>
            </div>
            <button type="button" class="btn btn-primary refuelCarModal" data-toggle="tooltip" data-placement="bottom"
                    title="Refuel vehicle">
                <span class="glyphicon glyphicon-tint" aria-hidden="true"></span>
            </button>
        </div>
    </div>


    <div class="row">

        <div class="col-md-4">
            <table class="bigStatsTable">
                <tbody class="bigStatsTbody">
                    <tr>
                        <td class="statHeadings">Economy</td>
                        <td class="tableSpacer"></td>
                        <td class="statHeadings">Tracked miles</td>
                    </tr>
                    <tr>
                        <td><span class="statDetails">44.7</span><span class="statUnits">mpg</span></td>
                        <td class="tableSpacer"></td>
                        <td><span class="statDetails">81524</span><span class="statUnits">miles</span></td>
                    </tr>
                    <tr>
                        <td class="statHeadings">Fuel used</td>
                        <td class="tableSpacer"></td>
                        <td class="statHeadings">Ave. mileage cost</td>
                    </tr>
                    <tr>
                        <td><span class="statDetails">542</span><span class="statUnits">litres</span></td>
                        <td class="tableSpacer"></td>
                        <td><span class="statDetails">13.3</span><span class="statUnits">p / mile</span></td>
                    </tr>
                    <tr>
                        <td class="statHeadings">Expenditure</td>
                        <td class="tableSpacer"></td>
                        <td class="statHeadings">Ave. fuel cost</td>
                    </tr>
                    <tr>
                        <td><span class="statDetails">£714.55</span><span class="statUnits"></span></td>
                        <td class="tableSpacer"></td>
                        <td><span class="statDetails">120.4</span><span class="statUnits">p / litre</span></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-8">
            <p>[Chart here]</p>
        </div>
    </div>
{% endblock %}