{% extends 'cars/car_base.html' %}
{% load static %}
{% block car_content %}
    <div class="delete-car">
        <h3>
            <img src="{% static "img/deleteCar.png" %}" alt="Quayside warning sign"/><br>
            {{ car_detail.colour }} {{ car_detail.year_of_manufacture }} {{ car_detail.make }}
            {{ car_detail.model }} {{ car_detail.sub_model }}
        </h3>
        {% if not car_detail.exclude_from_collation %}
            <p>This will also delete any fuel economy data that has been contributed to the community.</p>
        {% endif %}
        <div class="delete-car-buttons">
            <form action="/cars/delete_car/{{ car_detail.id }}/" method="POST">
                {% csrf_token %}
                <input class="btn btn-danger" type="submit" value="Delete">
            </form>
            <form action="/cars/{{ car_detail.id }}/" method="GET">
                <input class="btn btn-default" type="submit" value="Cancel">
            </form>
        </div>
    </div>
{% endblock %}