{% extends 'cars/car_base.html' %}
{% block car_content %}
    <h4 class="">Refueling history</h4>
    <table class="table refueling-history">
        <tr class="active">
            <th>Date</th>
            <th>Odometer</th>
            <th>Fuel</th>
            <th>Cost</th>
            <th>Price / litre</th>
            <th>Full tank</th>
        </tr>
        {% for refuel in refuels %}
            {% if not forloop.last %}

                {% if refuel.missed_refuels %}
                    <tr>
                        <td>{{ refuel.date_time_added }}</td>
                        <td>{{ refuel.odometer }}</td>
                        <td><span class="text-muted">{{ refuel.litres }} litres</span></td>
                        <td><span class="text-muted">£{{ refuel.price }}</span></td>
                        <td><span class="text-muted">{{ refuel.litre_price }}p</span></td>
                        <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
                    </tr>
                {% elif refuel.full_tank %}
                    <tr class="success">
                        <td>{{ refuel.date_time_added }}</td>
                        <td>{{ refuel.odometer }}</td>
                        <td>{{ refuel.litres }} litres</td>
                        <td>£{{ refuel.price }}</td>
                        <td>{{ refuel.litre_price }}p</td>
                        <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
                    </tr>
                {% else %}
                    <tr class="warning">
                        <td>{{ refuel.date_time_added }}</td>
                        <td>{{ refuel.odometer }}</td>
                        <td>{{ refuel.litres }} litres</td>
                        <td>£{{ refuel.price }}</td>
                        <td>{{ refuel.litre_price }}p</td>
                        <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
                    </tr>
                {% endif %}

            {% else %}
                <tr>
                    <td>{{ refuel.date_time_added }}</td>
                    <td>{{ refuel.odometer }}</td>
                    <td><span class="text-muted">N/A</span></td>
                    <td><span class="text-muted">N/A</span></td>
                    <td><span class="text-muted">N/A</span></td>
                    {% if refuel.full_tank %}
                        <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
                    {% else %}
                        <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
                    {% endif %}
                </tr>
            {% endif %}
            {% if refuel.missed_refuels %}
                {% if not forloop.last %}
                    <tr class="danger"> <!--Add extra row for any missed refuels-->
                        <td class="missed-refuel" colspan="6">
                            Missed refuel(s) reported. These are excluded from your tracking. The above fuel, cost
                            and price per litre are also excluded. <a href="#refueling-advice">See notes below.</a>
                        </td>
                    </tr>
                {%  endif %}
            {% endif %}
        {% endfor %}
    </table>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 refueling-history-advice">
            <a name="refueling-advice"></a>
            {% include "complementary_pages/calculations.html" %}
        </div>
    </div>
{% endblock %}