{% extends 'cars/car_base.html' %}
{% block car_content %}
{% load bootstrap_tags %}
    <div class="row">
    {% if car_detail.image %}
        <div class="col-lg-10 col-lg-offset-1 upload-photo">
            <div class="dialog">
                <img src="{{ car_detail.image.large.url}}" alt="{{ car_detail.make }} {{ car_detail.model }}">
    {% else %}
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 upload-photo">
            <div class="dialog">
    {% endif %}
                <form method="POST" enctype="multipart/form-data">
                    <legend>Upload a photo of your car</legend>
                    {% csrf_token %}
                    {{ form|as_bootstrap}}
                    <div class="dialog-buttons">
                        <a class="btn btn-default" href="/cars/{{ car_detail.id }}/">Cancel</a>
                        <input class="btn btn-info" type="submit" value="Save">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
