{% extends 'cars/car_base.html' %}
{% block car_content %}
{% load bootstrap_tags %}
    {% if car_detail.image %}
        <img src="{{ car_detail.image.large.url}}">
    {% else %}
        <h4 class="">Upload an image</h4>
    {% endif %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form | as_bootstrap}}
        <input class="btn btn-primary" type="submit" value="Save">
    </form>
    <form action="/cars/{{ car_detail.id }}/" method="GET">
        <input class="btn btn-default" type="submit" value="Cancel">
    </form>
{% endblock %}
