{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" content="text/html">
    <title>Our Simple Site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="{% static "css/blog.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/font-awesome-4.7.0/css/font-awesome.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.css">
    {% block head_js %}{% endblock %}
</head>
<body>
    <div class="container">
        <div class="masthead">
            <ul class="nav nav-pills pull-right">
                <li><a href="/">Home</a></li>
                <li><a href="/stats/">MPG Stats</a></li>
                <li><a href="/forum/">Forum</a></li>
                <li><a href="/blog/">Blog</a></li>
                <li><a href="/cars/">My Cars</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                    <li><a href="{% url 'logout' %}">Log Out</a></li>
                {% else %}
                    <li><a href="{% url 'register' %}">Register</a></li>ß
                    <li><a href="{% url 'login' %}">Log In</a></li>
                {% endif %}
            </ul>
            <h1><span class="fui-settings-16 muted">Placeholder text...</span></h1>
        </div>
        <hr>
        {% if messages %}
            <div class="alert alert-success">
                <div class="messages">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            </div>
        {% endif %}


        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        <hr>
        <footer class="col-12">
            <div class="container">
                <table>
                    <tr>
                        <td>
                            <a href="/terms/">Privacy</a>&nbsp;|
                            <a href="/terms/">Terms</a>&nbsp;|
                            <a href="/contact/">Contact</a>&nbsp;|
                            <a href="/about/">About</a>&nbsp;|
                            <a href="https://jamcoy.com">Site by jamcoy &copy; 2016</a>
                        </td>
                        <td>
                            <img src="{% static "img/FB-f-Logo__blue_29.png" %}" alt="Facebook"/>
                            <img src="{% static "img/Instagram-logo_29.png" %}" alt="Instagram"/>
                            <img src="{% static "img/Twitter_logo_blue_32.png" %}" alt="Twitter"/>
                        </td>
                    </tr>
                </table>
            </div>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>