.car-details {
    margin-top: 20px;
    margin-bottom: 40px;
    box-shadow: 6px 6px 3px #888888;
    border: 1px solid #bbbbbb;
    padding: 24px;
    border-radius: 16px;
}

.car-details table {
    font-size: 18px;
    margin-top: 20px;
}

.car-details .specification {
    text-align: right;
}

.car-details img {
    width: 100%;
    border: 1px solid #bbbbbb
}

.upload-photo img {
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #bbbbbb
}

.car-stats .chart-container {
    height: 450px
}

#id_image {
    margin-top: 10px;
}

.refueling-history .missed-refuel {
    text-align: center;
}

.refueling-history-advice {
    margin-bottom: 30px;
}



/* --------------------------- */

/* Cars start */

.big-stats {
    margin-bottom: 20px;
}

.big-stats table {
    width: 100%;
}

.statHeadings{
    border-bottom: solid thin;
    padding-top: 16px;
    padding-bottom: 6px;
    font-size: 14px;
}

.statDetails{
    font-family: 'Exo 2', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #044688;
}

.statUnits{
    font-size: large;
    font-weight: bold;
    margin-left: 4px;
}

.carDetailButtons{
    float: right;
    min-width: 210px;
    text-align: right;
    margin-bottom: 10px;
}

.carDetailButtons span{
    font-size: x-large;
}

#cars-menu {
    padding: 4px 6px 5px 5px;
}

#refuel-button {
    padding: 6px 14px 9px 10px;
}

.car-title-container {
    margin: 0 0 10px 0;
}

.car-title {
    white-space: nowrap;
}

.car-title-container img {
    margin-right: 10px;
}

.car-title h2 {
    margin-top: 0;
}

.car-title-small-screens h2 {
    font-size: 24px;
}

.car-stats .short-calculation-details {
    margin: 30px 0 30px 0;
}

.tableSpacer{
    border-bottom-style: none;
    width: 30px;
}

.chart .menu {
    width: 100%;
    text-align: center;
}

.car-stats {
    margin-bottom: 30px;
}

/* Cars end */


/* BS medium */
@media screen and (max-width: 980px){
    .car-details table {
        font-size: 18px;
    }
    .big-stats table {
        width: 550px;
        margin-left: auto;
        margin-right: auto;
    }
    .car-title h2 {
       font-size: 24px;
    }
}

/* BS small */
@media screen and (max-width: 768px){
    .car-details {
        margin-top: 20px;
        margin-bottom: 40px;
        box-shadow: none;
        border: none;
        padding: 0;
        border-radius: 0;
    }
    .car-details table {
        font-size: 16px;
        margin-top: 20px;
    }
    .statHeadings {
        font-size: 14px;
    }

    .statDetails {
        font-size: 50px;
    }

    .statUnits {
        font-size: 16px;
    }
    .big-stats table {
        width: 100%;
    }

}

/* Extra Small Devices, Phones */
@media screen and (max-width : 480px) {
    .statHeadings {
        font-size: 12px;
    }

    .statDetails {
        font-size: 32px;
    }

    .statUnits {
        font-size: 12px;
    }
    .big-stats table {
        width: 100%
    }

}


@media screen and (max-width : 360px) {
    .statHeadings {
        font-size: 12px;
    }

    .statDetails {
        font-size: 30px;
    }

    .statUnits {
        font-size: 12px;
    }
}

/* Custom, iPhone Retina */
@media screen and (max-width : 320px) {
    .statHeadings {
        font-size: 10px;
    }

    .statDetails {
        font-size: 24px;
    }

    .statUnits {
        font-size: 10px;
    }
}
