.car-details {
    margin-top: 20px;
    margin-bottom: 40px;
    box-shadow: 10px 10px 5px #888888;
    border: 1px solid #555555;
    padding: 32px;
    border-radius: 16px;
}

.car-details table {
    font-size: 18px;
    margin-top: 20px;
}

.car-details img {
    width: 100%;
}

.delete-car img{
    margin: 20px;
}

.delete-car {
    text-align: center;
}

.car-dialog-buttons {
    text-align: center;
    margin: 20px 0 40px 0;
}

.car-dialog-buttons .btn {
    margin: 0 4px 0 4px;
}

.delete-car form{
    display: inline;
    margin: 4px;
}

/* BS medium */
@media screen and (max-width: 992px){
    .car-details table {
        font-size: 18px;
    }
}

/* BS small */
@media screen and (max-width: 768px){
    .car-details {
        margin-top: 20px;
        margin-bottom: 40px;
        box-shadow: none;
        border: none;
        padding: 0;
        border-radius: 0;
    }
    .car-details table {
        font-size: 16px;
        margin-top: 20px;
    }
}

/* Extra Small Devices, Phones */
@media screen and (max-width : 480px) {

}


@media screen and (max-width : 360px) {

}

/* Custom, iPhone Retina */
@media screen and (max-width : 320px) {

}
