.car-details {
    margin-top: 20px;
    margin-bottom: 40px;
    box-shadow: 10px 10px 5px #888888;
    border: 1px solid #555555;
    padding: 32px;
    border-radius: 16px;
}

.car-details table {
    font-size: 18px;
    margin-top: 20px;
}

.car-details img {
    width: 100%;
    border: 1px solid #444444
}

.car-photo {

}

.upload-photo img {
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #bbbbbb
}

#id_image {
    margin-top: 10px;
}

.refueling-history .missed-refuel {
    text-align: center;
}

.refueling-history-advice {
    margin-bottom: 30px;
}

/* BS medium */
@media screen and (max-width: 992px){
    .car-details table {
        font-size: 18px;
    }
}

/* BS small */
@media screen and (max-width: 768px){
    .car-details {
        margin-top: 20px;
        margin-bottom: 40px;
        box-shadow: none;
        border: none;
        padding: 0;
        border-radius: 0;
    }
    .car-details table {
        font-size: 16px;
        margin-top: 20px;
    }
}

/* Extra Small Devices, Phones */
@media screen and (max-width : 480px) {

}


@media screen and (max-width : 360px) {

}

/* Custom, iPhone Retina */
@media screen and (max-width : 320px) {

}
